@import "basscss";
@import "basscss-utility-headings";
@import "basscss-responsive-white-space";

:root{
  --sadblue: #6292f0;
  --fancytype: 'Neuton', serif;
  --link-color: var(--sadblue);
}

.fancy{
  font-family: var(--fancytype);
}

svg{
  width: 100%;
}

.container38{
  max-width: 38em;
}

.container800{
  max-width: 800px;
}

.field:focus{
  box-shadow: none;
}

.text-sizer{
  font-size: 24px;
}

@media (--breakpoint-sm){
  .text-sizer{
    font-size: 24px;
  }
}

@media (--breakpoint-md){
  .text-sizer{
    font-size: 24px;
  }
}

@media (--breakpoint-lg){
  .text-sizer{
    font-size: 36px;
  }
}
